---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import UserForm  from '../components/Form';  
import UserList from '../components/UserList';
---

<Layout title="Welcome to Astro.">
	<main>
		<UserForm client:visible/>
		<UserList client:visible/>
	</main>
</Layout>

<style>
	
</style>
